@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

:root {
  font-family: 'Be_Vietnam_Pro', 'Be Vietnam Pro', 'Lexend', sans-serif;
  color-scheme: dark light;
}

body {
  margin: 0;
  background-color: #0d0c0a;
  color: #f3f4f6;
  min-height: 100vh;
}

/* Custom premium scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #14120e;
}

::-webkit-scrollbar-thumb {
  background: #363024;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbce03;
}
